SET TERMOUT ON
SET ECHO ON
WHENEVER OSERROR EXIT FAILURE
WHENEVER SQLERROR EXIT SQL.SQLCODE

DECLARE
  l_user_count PLS_INTEGER;
BEGIN
  SELECT COUNT(*)
  INTO   l_user_count
  FROM   dba_users
  WHERE  username = 'GHC_DEV';

  IF l_user_count = 0 THEN
    EXECUTE IMMEDIATE 'CREATE USER GHC_DEV IDENTIFIED BY "${user_password}"';
  ELSE
    EXECUTE IMMEDIATE 'ALTER USER GHC_DEV IDENTIFIED BY "${user_password}" ACCOUNT UNLOCK';
  END IF;
END;
/

ALTER USER GHC_DEV QUOTA UNLIMITED ON DATA;
GRANT CREATE SESSION TO GHC_DEV;
GRANT CONNECT, RESOURCE, GRAPH_DEVELOPER TO GHC_DEV;
GRANT EXECUTE ON DBMS_CLOUD TO GHC_DEV;
GRANT EXECUTE ON DBMS_CLOUD_AI TO GHC_DEV;
GRANT EXECUTE ON DBMS_CLOUD_AI_AGENT TO GHC_DEV;

ALTER USER GHC_DEV GRANT CONNECT THROUGH "GRAPH$PROXY_USER";

BEGIN
  ORDS_ADMIN.ENABLE_SCHEMA(
    p_enabled          => TRUE,
    p_schema           => 'GHC_DEV',
    p_url_mapping_type => 'BASE_PATH',
    p_auto_rest_auth   => TRUE
  );
END;
/

EXIT
