SET TERMOUT ON
SET ECHO ON
WHENEVER OSERROR EXIT FAILURE
WHENEVER SQLERROR EXIT SQL.SQLCODE

DECLARE
  v_private_key CLOB := q'~${private_key_pem}~';
BEGIN
  BEGIN
    DBMS_CLOUD.DROP_CREDENTIAL(credential_name => '${credential_name}');
  EXCEPTION
    WHEN OTHERS THEN
      NULL;
  END;

  DBMS_CLOUD.CREATE_CREDENTIAL(
    credential_name => '${credential_name}',
    user_ocid       => '${oci_user_ocid}',
    tenancy_ocid    => '${oci_tenancy_ocid}',
    private_key     => v_private_key,
    fingerprint     => '${fingerprint}'
  );
END;
/

PROMPT Created DBMS_CLOUD credential ${credential_name}

BEGIN
  BEGIN
    DBMS_CLOUD_AI.DROP_PROFILE(
      profile_name => '${profile_name}',
      force        => TRUE
    );
  EXCEPTION
    WHEN OTHERS THEN
      NULL;
  END;

  DBMS_CLOUD_AI.CREATE_PROFILE(
    profile_name => '${profile_name}',
    attributes   => '{
      "provider": "oci",
      "credential_name": "${credential_name}",
      "comments": true,
      "temperature": 0,
      "oci_compartment_id": "${oci_compartment_ocid}",
      "region": "${genai_region}"
    }'
  );
END;
/

PROMPT Created DBMS_CLOUD_AI profile ${profile_name}
EXIT
